{% extends "base.html" %}
{% block title %} Connexion {% endblock %}
<!--This block is use in order to remove the line with path "Projet/..."-->
{% block to_remove_path %}{% endblock %}

{% block page %}
<div>
    <h1>Se connecter</h1>

    {% if error %}
    <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
    {% endif %}

    <!--connexion form with two columns-->
    <form method="post" action={% url "connexion" %}>
        {% csrf_token %}

        <!--display the username field-->
        <div class="row">
            <div class="col-sm-2">
                {{form.username.label}}
            </div>
            <div class="col-sm-10">
                <div class="form-group" style="flex-grow: 1;">
                   {{form.username}}
                </div>
            </div>
        </div>

        <!--display the password field-->
        <div class="row">
            <div class="col-sm-2">
                {{form.password.label}}
            </div>
            <div class="col-sm-10">
                <div class="form-group" style="flex-grow: 1;">
                   {{form.password}}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Connection</button>
    </form>

    <p>
        Si vous n'avez pas encore creé une compte, vous pouvez le faire en cliquant
        <a href="{% url 'signup' %}">ici</a>
    </p>
</div>
{% endblock %}
