{% extends "base.html" %}
{% block title %} Connexion {% endblock %}
{% block to_remove_path %}{% endblock %}

{% block page %}
<div>
    <h1>Se connecter</h1>

    {% if error %}
    <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
    {% endif %}

    {% if user.is_authenticated %}
    Vous êtes connecté, {{ user.username }} !
    {% else %}


    <form method="post" action={% url "connexion" %}>
        {% csrf_token %}
        <div class="form-group">
            {{form.username.errors}}
            <label for="username">Nom de compte:</label>
            <input type="text" class="form-control" placeholder="Enter nomde compte" id="username" name="username" value={{form.username.value}}>
        </div>
        <div class="form-group">
            {{form.password.errors}}
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" placeholder="Enter mot de passe" id="pwd" name = "password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
</div>
{% endblock %}
