{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %} {{ task.name }} {% endblock %}
{% block line_path %}
    <a class="custom_link" href="{% url "projects" %}"> Projets </a>
    /
    <a class="custom_link" href="{% url "project" project.id %}"> {{ project.name }} </a>
    /
    {% if is_new %}
        <a class="custom_link" href="{% url "newtask" project.id %}"> Nouvelle tache </a>
    {% else %}
        <a class="custom_link" href="{% url "edittask" task.id %}"> Editer une tache </a>
    {% endif %}
{% endblock %}

{% block page %}
    <br>

    <h1 style="display: inline">{{ project.name }}</h1>
    <a class="custom_link" href="{% url "project" project.id %}">
        <i data-toggle="tooltip" data-placement="left" title="Retour au projet" class="fas fa-backspace fa-3x"
           style="float: right;color: tomato;"></i>
    </a>
    <h3>{{ task.name }}</h3>
    {% if is_new %}
        <form method="post" action="{% url "newtask" project.id %}">
    {% else %}
        <form method="post" action="{% url "edittask" task.id %}">
    {% endif %}
{% csrf_token %}
{{ form|crispy }}

<button type="submit" class="btn btn-primary" style="display: inline;">Creer</button>
</form>

{% endblock %}}