{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}{% if task %}- {{ task.name }} {% else %}- Nouvelle tache{% endif %}{% endblock %}

{% block line_path %}
    <li class="breadcrumb-item"><a href="{% url "projects" %}">Projets</a></li>
    <li class="breadcrumb-item"><a href="{% url "project" project.id %}">{{ project.name }}</a></li>
    {% if is_new %}
        <li class="breadcrumb-item active"><a href="{% url "newtask" project.id %}">Nouvelle tache</a></li>
    {% else %}
        <li class="breadcrumb-item active"><a href="{% url "edittask" task.id %}">Editer : {{ task.name }}</a></li>
    {% endif %}
{% endblock %}

{% block page %}
    <h3 style="display: inline">{{ project.name }}</h3>
    <a class="custom_link" href="{% url "project" project.id %}">
        <i data-toggle="tooltip" data-placement="left" title="Retour au projet" class="fas fa-backspace fa-3x"
           style="float: right;color: tomato;"></i>
    </a>
    <h5 class="mt-2">{{ task.name }}</h5>

    {% if is_new %}
        <form method="post" action="{% url "newtask" project.id %}">
    {% else %}
        <form method="post" action="{% url "edittask" task.id %}">
    {% endif %}
{% csrf_token %}
{{ form.name|as_crispy_field }}
{{ form.projet }}
{% comment %}Il faut ajouter aussi field.error pour afficher les erreurs de validation qui peuvent
    arriver{% endcomment %}
{{ form.name.errors|as_crispy_errors }}
<div class="form-row">
    <div class="form-group col-md-6 mb-0">
        {{ form.assignee|as_crispy_field }}
        {{ form.assignee.errors|as_crispy_errors }}
    </div>
    <div class="form-group col-md-2 mb-0">
        {{ form.priority|as_crispy_field }}
        {{ form.priority.errors|as_crispy_errors }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.status|as_crispy_field }}
        {{ form.status.errors|as_crispy_errors }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4 mb-0">
        {{ form.start_date|as_crispy_field }}
        {{ form.start_date.errors|as_crispy_errors }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.due_date|as_crispy_field }}
        {{ form.due_date.errors|as_crispy_errors }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form.completion_percentage|as_crispy_field }}
        {{ form.completion_percentage.errors|as_crispy_errors }}
    </div>
</div>
{{ form.description|as_crispy_field }}
{{ form.description.errors|as_crispy_errors }}
<div class="row">
    <button type="submit" class="btn btn-success mx-auto">
        <i class="fa fa-save align-middle" aria-hidden="true"></i>
        <span class="align-middle">Enregistrer</span>
    </button>
</div>
</form>

{% endblock %}}