{% extends "base.html" %}

{% block title %}- Projets {% endblock %}

{% block line_path %}
    <li class="breadcrumb-item"><a href="{% url "projects" %}">Projets</a></li>
{% endblock %}

{% block page %}
    <h2 style="display: inline">Projets</h2>

    <!--Button to project creation page-->
    <a class="custom_link" href="{% url "new_project" %}">
        <i data-toggle="tooltip" data-placement="left" title="Ajouter un projet" class="fas fa-plus-circle fa-3x"
           style="float: right;color: dodgerblue;"></i>
    </a>

    <div class="container-fluid mt-3">

        <!--Display of the project list-->
        <ul class="list-group">
            {% for project in projects %}
                <li class="list-group-item list-group-item-action">

                    <!--Display the project name-->
                    <a class="custom_link" href="{% url "project" project.id %}">{{ project.name }}</a>

                    <!--Button to delete the project-->
                    <a class="custom_link" href="{% url "delete_project" project.id %}">
                        <i data-toggle="tooltip" data-placement="left" title="Supprimer projet"
                           class="fas fa-times-circle fa-2x" style="float: right;color: tomato;"></i>
                    </a>

                    <!--Button to edit the project-->
                    <a class="custom_link" style="margin-right: 1%;display: inline-block; float:right"
                       href="{% url "edit_project" project.id %}">
                        <i data-toggle="tooltip" data-placement="left" title="Editer projet"
                           class="fas fa-edit fa-2x"
                           style="float: right;color: dodgerblue;"></i>
                    </a>

                    {# <span class="badge badge-primary badge-pill p-2 mr-5 ml-1" style="float: right">{{ project.task_set.count }} task{{ project.task_set.count|pluralize }}</span>#}
                    {#                    <span class="badge badge-secondary badge-pill p-2 mr-1 ml-2" style="float: right">{{ project.members.count }} member{{ project.members.count|pluralize }}</span> #}
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}