{% extends "base.html" %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'taskmanager/css/project.css' %}">
{% endblock %}

{% block title %} {{project.name}} {% endblock %}
{% block line_path %}
    <a class="custom_link" href="{% url "projects" %}"> Projets </a>
    /
    <a class="custom_link" href="{% url "project" project.id %}"> {{project.name}} </a>
{% endblock %}

{% block page %}
<br>


<h1 style="display: inline">{{project.name}}</h1>
<button id="filter_button" data-toggle="modal" data-target=".bd-example-modal-xl" type="button" style="margin-left: 3%" class="btn btn-primary" >Filter</button>
<a class="custom_link" href="{% url "newtask" project.id%}">
    <i data-toggle="tooltip" data-placement="left" title="Ajouter une tache" class="fas fa-plus-circle fa-3x" style="float: right;color: dodgerblue;"></i>
</a>

<div class="container-fluid" style="margin-top: 1%">
    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form id="filter-form" action="" method="get">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="filter-modal-body">
                        <br>
                        <div id="filter-div" class="container-fluid" style=""></div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <i data-toggle="tooltip" data-placement="right" title="Add a filter" class="fas fa-plus-circle fa-2x mr-auto" style="float: left;color: green;" onclick="add_input()"></i>
                    <input type="button" class="btn btn-primary mr-auto" value="OR" onclick="add_OR_AND(-1, 'or')">
                    <input type="button" class="btn btn-primary mr-auto" value="AND" onclick="add_OR_AND(-1, 'and')">
                    <input type="submit" class="btn btn-success"value="Search">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
      </div>
    </div>

<div class="row" id="row-table">
        <table id="table" class="table">
    <thead>
        <tr>
            <th>Task

            </th>
            <th>Status

            </th>
            <th>Assignee

            </th>
            <th>Start Date

            </th>
            <th>Due Date

            </th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <td><a class="custom_link" href="{% url "task" task.id %}">{{task.name}}</a> </td>
                <td><span class="badge badge-warning">{{task.status.name}}</span></td>
                {% if task.assignee == None %}
                    <td><span class="badge badge-danger">Personne</span></td>
                {% else %}
                    {% if not task.assignee.last_name %}
                        <td><span class="badge badge-primary">{{task.assignee.username}}</span></td>
                    {% else %}
                        <td><span class="badge badge-primary">{{task.assignee.first_name}} {{task.assignee.last_name}}</span></td>
                    {% endif %}
                {% endif %}
                <td>{{task.start_date}}</td>
                <td>{{task.due_date}}
                    <div style="float: right">
                        <a class="custom_link" href="{% url "edittask" task.id %}">
                            <i data-toggle="tooltip" data-placement="left" title="Editer la tâche" class="fas fa-edit fa-2x" style="float: right;color: dodgerblue;"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>


</div>
<script>
    let user_tab = [];
    {% for user in users %}
    user_tab.push(["{{user}}", "{{user.id}}"]);
    {% endfor %}

    let status_tab = [];
    {% for stat in status %}
    status_tab.push(["{{stat}}", "{{stat.id}}"]);
    {% endfor %}

const compare = (ids, asc) => (row1, row2) => {
  const tdValue = (row, ids) => row.children[ids].textContent;
  const tri = (v1, v2) => v1.toString().localeCompare(v2);
  return tri(tdValue(asc ? row1 : row2, ids), tdValue(asc ? row2 : row1, ids));
};

const mouth2int = (str) => {
    if (str == 'January'){
        return 1;
    } else if (str == 'February'){
        return 2;
    } else if (str == 'March'){
        return 3;
    } else if (str == 'April'){
        return 4;
    } else if (str == 'May'){
        return 5;
    } else if (str == 'June'){
        return 6;
    } else if (str == 'July'){
        return 7;
    } else if (str == 'August'){
        return 8;
    } else if (str == 'September'){
        return 9;
    } else if (str == 'October'){
        return 10;
    } else if (str == 'November'){
        return 11;
    } else if (str == 'December'){
        return 12;
    }
}

const compare_date = (ids, asc) => (row1, row2) => {
  const tdValue = (row, ids) => {
      let val = row.children[ids].textContent;
      let tab = val.split(', ');
      tab = [tab[0].split(' '), parseInt(tab[1])];
      return [tab[1], mouth2int(tab[0][0]), parseInt(tab[0][1])]
  };
  const tri = (v1, v2) => {
      if (v1[0] - v2[0] !== 0){
          return v1[0] - v2[0];
      } else if (v1[1] - v2[1] !== 0){
          return v1[1] - v2[1];
      } else {
          return v1[2] - v2[2];
      }
    };
  return tri(tdValue(asc ? row1 : row2, ids), tdValue(asc ? row2 : row1, ids));
};

const tbody = document.querySelector('tbody');
const thx = document.querySelectorAll('th');

thx.forEach(th => {
    let el = document.createElement('div');
    el.style.display = "inline";
    el.innerHTML =  "<i class=\"fas fa-sort fa-2x sort_none\" style=\"float: right;color: dodgerblue;\"></i>" +
                    "<i class=\"fas fa-sort-down fa-2x sort_down unactive\" style=\"float: right;color: dodgerblue;\"></i>" +
                    "<i class=\"fas fa-sort-up fa-2x sort_up unactive\" style=\"float: right;color: dodgerblue;\"></i>";
    th.appendChild(el);
})

const trxb = tbody.querySelectorAll('tr');
const sort_none = document.querySelectorAll('.sort_none');
const sort_up = document.querySelectorAll('.sort_up');
const sort_down = document.querySelectorAll('.sort_down');

thx.forEach(th => th.addEventListener('click', () => {
  let classe = Array.from(trxb);
  if (th.innerText.includes('Date')){
      classe = classe.sort(compare_date(Array.from(thx).indexOf(th), this.asc = !this.asc));
  }else{
      classe = classe.sort(compare(Array.from(thx).indexOf(th), this.asc = !this.asc));
  }
  classe.forEach(tr => tbody.appendChild(tr));

  sort_none.forEach(i => i.classList.remove('unactive'));
  sort_down.forEach(i => i.classList.add('unactive'));
  sort_up.forEach(i => i.classList.add('unactive'));

  Array.from(sort_none)[Array.from(thx).indexOf(th)].classList.add('unactive');
  if (this.asc){
      Array.from(sort_up)[Array.from(thx).indexOf(th)].classList.remove('unactive');
  } else {
      Array.from(sort_down)[Array.from(thx).indexOf(th)].classList.remove('unactive');
  }



}));
</script>
<script src="{% static 'taskmanager/js/project.js' %}"></script>

{% endblock %}

