{% extends "base.html" %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'taskmanager/css/project.css' %}">
{% endblock %}

{% block title %} {{project.name}} {% endblock %}
{% block line_path %}
    <a class="custom_link" href="{% url "projects" %}"> Projets </a>
    /
    <a class="custom_link" href="{% url "project" project.id %}"> {{project.name}} </a>
{% endblock %}

{% block page %}
<br>


<h1 style="display: inline">{{project.name}}</h1>
<button id="filter_button" data-toggle="modal" data-target=".bd-example-modal-xl" type="button" style="margin-left: 3%" class="btn btn-primary" >Filter</button>
<a class="custom_link" href="{% url "newtask" project.id%}">
    <i data-toggle="tooltip" data-placement="left" title="Ajouter une tache" class="fas fa-plus-circle fa-3x" style="float: right;color: dodgerblue;"></i>
</a>

<div class="container-fluid" style="margin-top: 1%">
    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form id="filter-form" action="" method="get">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="filter-modal-body">
                        <br>
                        <div id="filter-div" class="container-fluid" style=""></div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <i data-toggle="tooltip" data-placement="right" title="Add a filter" class="fas fa-plus-circle fa-2x mr-auto" style="float: left;color: green;" onclick="add_input()"></i>
                    <input type="submit" class="btn btn-success"value="Search">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
      </div>
    </div>

<div class="row" id="row-table">
        <table class="table">
    <thead>
        <tr>
            <th>Task</th>
            <th>Status</th>
            <th>Assignee</th>
            <th>Start Date</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <td><a class="custom_link" href="{% url "task" task.id %}">{{task.name}}</a> </td>
                <td><span class="badge badge-warning">{{task.status.name}}</span></td>
                {% if task.assignee == None %}
                    <td><span class="badge badge-danger">Personne</span></td>
                {% else %}
                    {% if not task.assignee.last_name %}
                        <td><span class="badge badge-primary">{{task.assignee.username}}</span></td>
                    {% else %}
                        <td><span class="badge badge-primary">{{task.assignee.first_name}} {{task.assignee.last_name}}</span></td>
                    {% endif %}
                {% endif %}
                <td>{{task.start_date}}</td>
                <td>{{task.due_date}}
                    <div style="float: right">
                        <a class="custom_link" href="{% url "edittask" task.id %}">
                            <i data-toggle="tooltip" data-placement="left" title="Editer la tâche" class="fas fa-edit fa-2x" style="float: right;color: dodgerblue;"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>


</div>
<script>
    let user_tab = [];
    {% for user in users %}
    user_tab.push(["{{user}}", "{{user.id}}"]);
    {% endfor %}

    let status_tab = [];
    {% for stat in status %}
    status_tab.push(["{{stat}}", "{{stat.id}}"]);
    {% endfor %}
</script>
<script src="{% static 'taskmanager/js/project.js' %}"></script>
{% endblock %}

