{% extends "base.html" %}
{% block title %} {{task.name}} {% endblock %}
{% block line_path %}
    <a class="custom_link" href="{% url "projects" %}"> Projets </a>
    /
    <a class="custom_link" href="{% url "project" project.id %}"> {{project.name}} </a>
    /
    <a class="custom_link" href="{% url "task" project.id task.id%}"> {{task.name}} </a>
{% endblock %}

{% block page %}
<br>

<h1 style="display: inline">{{task.name}}</h1>
<a class="custom_link" href="{% url "project" project.id%}">
    <i data-toggle="tooltip" data-placement="left" title="Retour au projet" class="fas fa-backspace fa-3x" style="float: right;color: tomato;"></i>
</a>



<div class="container-fluid" style="margin-top: 1%">
{{task.description}}
<table class="table">
    <tbody>
        <tr>
            <td><B>Assignee</B></td>
            {% if task.assignee == None %}
                    <td><span class="badge badge-danger">Personne</span></td>
            {% else %}
                {% if not task.assignee.last_name %}
                    <td><span class="badge badge-primary">{{task.assignee.username}}</span></td>
                {% else %}
                    <td><span class="badge badge-primary">{{task.assignee.first_name}} {{task.assignee.last_name}}</span></td>
                {% endif %}
            {% endif %}
        </tr>
        <tr>
            <td><B>Start date</B></td>
            <td>{{task.start_date}}</td>
        </tr>
        <tr>
            <td><B>Due date</B></td>
            <td>{{task.due_date}}</td>
        </tr>
        <tr>
            <td><B>Status</B></td>
            <td><span class="badge badge-warning">{{task.status.name}}</span></td>
        </tr>
    </tbody>
</table>

</div>
{% endblock %}